@media screen and (max-width: 768px) {
    header {
        width: 100%;
        height: 100vh;
    }

    .header-overlay h1 {
        font-size: 3rem;
        color: white;
        -webkit-text-stroke: 0px;
        text-align: center;
    }

    section {
        display: block;
        height: max-content;
    }

    .section-item-img {
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
    }
    
    .section-item-text {
        display: flex;
        width: 100%;
        padding: 25px;
        font-family: 'Calibri', 'sans serif';
        align-items: center;
    }

    h2 {
        line-height: 2.2rem;
        margin-bottom: 5px;
    }
}