/* ALGEMEEN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


/* HEADER */
header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/Lokaal.jpg);
    background-size: cover;
    background-position: center;
}

.header-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}

.header-overlay h1 {
    font-family: 'myriad-pro', 'sans serif';
    font-size: 5rem;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 2px white;
}


/* SECTION */
section {
    display: flex;
    width: 100%;
    height: 100vh;
}

.section-item-img {
    width: 45%;
    background-size: cover;
    background-position: center;
}

.section-item-text {
    display: flex;
    width: 55%;
    padding: 25px;
    font-family: 'Calibri', 'sans serif';
    align-items: center;
}

.section-item-text ul {
    list-style-type: square;
    margin-left: 30px;
}

.text-container {
    width: 100%;
    height: max-content;
}

h2 {
    font-family: 'myriad-pro', 'sans serif';
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5px;
}

section#welkom .section-item-text {
    background-color: #00FFFF;
}

section#iets-voor-jou .section-item-text {
    background-color: #FF00FF;
}

section#lessenrooster .section-item-text {
    background-color: #FFFF00;
}


/* FOOTER */
footer {
    width: 100%;
    padding: 15px;
    line-height: 0.95rem;
    font-family: 'Calibri', 'sans serif';
    text-align: center;
}

footer a img {
    width: 60px;
    margin-bottom: 2.5px;
}

footer a {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
}